@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #1B80F5, #33b4e7);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #291bf5b0;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #291BF5;
    text-align: center;
    text-shadow: 1px 1px 2px #291bf5b0;
}
h2 {
    color: #601AEB; 
}
p {
    text-align: justify;
}
